# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vs/Works/v17/.wsuo
.vs/Works/v17/DocumentLayout.backup.json
.vs/Works/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Works/FileContentIndex/32535393-e313-4ce6-885f-c5ebf0598c83.vsidx

# Telerik / Kendo UI
kendo-ui-license.txt
telerik-license.txt
